#pycharm:
.idea/

#compilation files of tex
pres/presentation_br_ratio.aux
pres/presentation_br_ratio.log
pres/presentation_br_ratio.nav
pres/presentation_br_ratio.pdf
pres/presentation_br_ratio.snm
pres/presentation_br_ratio.synctex.gz
pres/presentation_br_ratio.toc

report/refs.bib.bak
report/report_adv_examples.pdf
report/report_adv_examples.aux
report/report_adv_examples.log
report/report_adv_examples.synctex.gz
report/report_adv_examples.pdf
report/report_adv_examplesNotes.bib

# Byte-compiled / optimized
__pycache__/
*.py[cod]

#ignore data
data/
/report/report_adv_examples.pdf
